openapi: 3.2.0
info:
  title: USGS Water Data Reference Data API
  description: The USGS Water Data APIs provide OGC-compliant interfaces to USGS water data, including continuous sensor measurements, daily values, discrete field measurements, and metadata about monitoring locations. These APIs implement the OGC API Features standard and support spatial filtering, temporal filtering, CQL2 filtering, and multiple output formats. An API key is required for data access beyond metadata endpoints.
  version: 0.49.2
  contact:
    name: USGS Water Data for the Nation
    url: https://api.waterdata.usgs.gov/
    email: wdfn@usgs.gov
  license:
    name: Public Domain (CC0 1.0)
    url: https://creativecommons.org/publicdomain/zero/1.0/
  x-generated-from: documentation
servers:
- url: https://api.waterdata.usgs.gov/ogcapi/v0
  description: USGS Water Data OGC API
security:
- ApiKeyQuery: []
- ApiKeyHeader: []
- {}
tags:
- name: Reference Data
  description: Reference code tables including agency codes, datum types, and aquifer data.
paths:
  /collections/agency-codes/items:
    get:
      operationId: getAgencyCodes
      summary: USGS Water Data Get Agency Codes
      description: Retrieve organization identifiers (agency codes) assigned by NWIS (National Water Information System) to identify data-collecting agencies.
      tags:
      - Reference Data
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Collection of agency code features.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
              examples:
                GetAgencyCodes200Example:
                  summary: Default getAgencyCodes 200 response
                  x-microcks-default: true
                  value:
                    type: FeatureCollection
                    features:
                    - type: Feature
                      properties:
                        agency_cd: USGS
                        agency_name: U.S. Geological Survey
        '403':
          description: API key required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    limit:
      name: limit
      in: query
      required: false
      description: Number of results to return (default 100, max 10000).
      schema:
        type: integer
        minimum: 1
        maximum: 10000
        default: 100
        example: 100
    format:
      name: f
      in: query
      required: false
      description: Output format (json, html, jsonld, csv).
      schema:
        type: string
        enum:
        - json
        - html
        - jsonld
        - csv
        default: json
        example: json
  schemas:
    ErrorResponse:
      title: ErrorResponse
      type: object
      description: Standard OGC API error response.
      properties:
        code:
          type: string
          description: Error code.
          example: InvalidParameter
        description:
          type: string
          description: Human-readable error description.
          example: Invalid value for parameter bbox.
    FeatureCollection:
      title: FeatureCollection
      type: object
      description: Generic GeoJSON FeatureCollection.
      properties:
        type:
          type: string
          description: GeoJSON type (FeatureCollection).
          example: FeatureCollection
        features:
          type: array
          description: Array of GeoJSON Feature objects.
          items:
            type: object
        numberMatched:
          type: integer
          description: Total number of features matching the query.
          example: 4523
        numberReturned:
          type: integer
          description: Number of features in this response.
          example: 100
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: USGS Water Data API key. Obtain at https://api.waterdata.usgs.gov/signup/
    ApiKeyHeader:
      type: apiKey
      in: header
      name: api_key
      description: USGS Water Data API key passed as a request header.
